<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.xtools.transform.core.transformationProviders">
      <TransformationProvider
            class="ac.at.tuwien.dsg.utest.umlclassdiagram2javadb.transformation.provider.ClassDiagram2JavaDBTransformationProvider">
         <Priority
               name="Highest">
         </Priority>
         <Transformation
               groupPath="ac.at.tuwien.dsg.utest.UMLClassDiagram2JavaDB"
               id="ac.at.tuwien.dsg.utest.transformation.UMLClassDiagram2JavaDB.id"
               name="UMLClassDiagram2JavaDB"
               sourceModelType="UML2"
               targetModelType="resource"
               version="1.0.0">
            <Property
                  id="system.transformation.property"
                  name="system.transformation.property"
                  readonly="true"
                  value="ClassName=ac.at.tuwien.dsg.utest.umlclassdiagram2javadb.transformation.provider.UMLClassDiagram2JavaDB;IsUMLKind=true;">
            </Property>
         </Transformation>
      </TransformationProvider>
   </extension>

</plugin>
